*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background-color: #ff7675;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 100%; 
     height: 100%;
    /* background-color: #ff7675; */
    padding: 30px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 2vw;
}
h1{
    letter-spacing: 0.5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #2d3436;
    color: #fff;
    font-size:35px;
    border-radius: 10px;
    padding: 10px 20px;
}
.inputBox{
    width: 400px;
    position: relative;
    /* border: 2px solid black; */
}
input{
    border-radius: 10px;
    font-size: 20px;
    width: 100%;
    height: 40px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    outline: none;
    border: none;
}
#togglebtn{
    position: absolute;
    /* right: 10px; */
    right: 0%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.validation{
    /* background-color: #00b894; */
    background-color: #2d3436;
    border-radius: 15px;
    /* padding-left: 30px; */
    padding: 20px 0;
    width: 400px;
    line-height: 40px;
    font-size: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.validation ul li{
    position: relative;
    /* list-style: none; */
    color: #fff;
    margin-left: 40px;
}
#point{
    padding: 10px;
    color: #fff;
}

i{  
    cursor: pointer;
}

